* {
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  #library-view {
    height: 100%; 
    width: 50%;
    border: solid 1px;
    padding: 10px;
   
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
  
  .book {
    min-height: 150px; 
    min-width: 150px;
    width: 100%;
    border: solid orange 5px;
  }
  
  form {
    display: none;
    width: 50%;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
  }
  
  #form-options {
    display: flex;
    justify-content: space-evenly;
  }
  
  .form-text-input {
    display: grid;
    padding: 5px;
    text-align: center;
  }